<div class="banner" *ngIf="loadedWeather">
  <div class="left" [style.background]="getBackground()">
    <div class="today">
      <h2>{{getDayOfWeekAbbreviation(weather.current.dt)}}</h2>
      <span>{{getDate(weather.current.dt)}}</span>
      <div>
        <i class="bx bx-current-location"></i>
        <span>{{ location.cityName }}, {{ location.countryCode }}</span>
      </div>
    </div>
    <div class="weather">
      <span><img src="https://openweathermap.org/img/wn/{{weather.current.weather[0].icon}}@2x.png"></span>
      <h1 class="temp">{{ weather.current.temp }} °C</h1>
      <h3>Sunny</h3>
    </div>
  </div>


  <div class="right">
    <div class="info">
      <div>
        <span class="title">HUMIDITY </span>
        <span class="value">{{ weather.current.humidity }} %</span>
      </div>
      <div>
        <span class="title">WIND </span>
        <span class="value">{{ weather.current.wind_speed }} m/s</span>
      </div>
    </div>
    <ul class="days">
      <li *ngFor="let i of [1, 2, 3, 4]">
        <i></i>
        <span><img src="https://openweathermap.org/img/wn/{{weather.daily[i].weather[0].icon}}@2x.png"></span>
        <span>{{ getDayOfWeekAbbreviation(weather.daily[i].dt) }}</span>
        <span class="temp">{{ weather.daily[i].temp.day }} °C</span>
      </li>
    </ul>
  </div>
</div>
